{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_messages %}
	{% endblock %}
{% endif %}

{% translate "previous" as previous %}
{% translate "next" as next %}
{% translate "last" as last %}

{% block welcome %}
<h1>Пользователи</h1>
<table border="2" align="center">
	<tr>
		<th>ID пользователя</th>
		<th>Nick пользователя</th>
		<th>ФИО пользователя</th>
		<th>E-mail пользователя</th>
		<th>Изменение профиля</th>
	</tr>
{% for user in object_list %}
	<tr>
		<td><a href={% url 'users:user' user.id %}>{{ user.id }}</a></td>
		<td><a href={% url 'users:user' user.id %}>{{ user.username }}</a></td>
		<td><a href={% url 'users:user' user.id %}>{{ user.first_name }} {{ user.last_name }}</a></td>
		<td><a href={% url 'users:user' user.id %}>{{ user.email }}</a></td>
		<td>
			<a class="badge badge-infop-2" href={% url 'users:update_user' user.id %}>Изменить</a>
			<a class="badge badge-infop-2" href={% url 'users:delete_user' user.id %}>Удалить</a>
		</td>
	</tr>
{% endfor %}
</table>

<!--	{% if user.is_authenticated %}-->
<!--		<table border="2" align="center">-->
<!--			<tr>-->
<!--				<th>ID пользователя</th>-->
<!--				<th>Nick пользователя</th>-->
<!--				<th>ФИО пользователя</th>-->
<!--				<th>E-mail пользователя</th>-->
<!--			</tr>-->

<!--		{% for user in object_list %}-->
<!--			<tr>-->
<!--				<td><a href={% url 'users:user' user.id %}>{{ user.id }}</a></td>-->
<!--				<td><a href={% url 'users:user' user.id %}>{{ user.username }}</a></td>-->
<!--				<td><a href={% url 'users:user' user.id %}>{{ user.first_name }} {{ user.last_name }}</a></td>-->
<!--				<td><a href={% url 'users:user' user.id %}>{{ user.email }}</a></td>-->
<!--			</tr>-->
<!--		{% endfor %}-->
<!--		</table>-->
<!--	{% else %}-->
<!--		<ul>-->
<!--		{% for user in object_list %}-->
<!--			<li>{{ user.username }} - {{ user.first_name }} - {{user.last_name}} - {{ user.email }}</li>-->
<!--		{% endfor %}-->
<!--		</ul>-->
<!--	{% endif %}-->

<div class="pagination">
    <span class="step-links">
	    {% if page_obj.has_previous %}
	        <a href="?page=1">&laquo;first</a>
	        <a href="?page={{ p.previous_page_previous_page_number }}">{{ previous }}</a>
		{% endif %}

	    <span class="current">
	        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
	    </span>
	    {% if page_obj.has_next %}
	        <a href="?page={{ page_obj.next_page_number }}">{{ next }}</a>
		<a href="?page={{ page_obj.paginator.num_pages }}">{{ last }}&raquo;</a>
	    {% endif %}
    </span>
</div>
{% endblock %}
