{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_javascript jquery=True %}
        {% bootstrap_messages %}
	{% endblock message %}
{% endif %}

{% block welcome %}
<body class="text-center">
	<p class="lead"> Username:	{{ object.username}}</p>
	<p class="lead"> Firstname:	{{object.first_name}}</p>
	<p class="lead"> Lastname:	{{object.last_name}}</p>
	<p class="lead"> Email:		{{object.email}} </p>

	<a href={% url 'users:update_user' object.id %}>{% translate "Изменить профиль" %}</a>
	<a href={% url 'users:delete_user' object.id %}>{% translate "Удалить профиль" %}</a>
	<a href={% url 'users:password_change' %}>{% translate "Изменить пароль" %}</a>
</body>
{% endblock welcome %}
