{% extends 'index.html' %}
{% load i18n %}

{% block welcome %}
    <h1 class="mb-4">{% translate "User delete" %}</h1>

    <form method="post" action="{% url 'users:delete_user' user.pk %}">
        {% csrf_token %}
        <p class="badge badge-danger badge-pill p-2">{% translate "Are you sure want to delete account for" %} "{{ user.get_full_name }}"?</p>
        <div class="form-group">
            <input class="btn btn-danger" type="submit" value="{% translate 'Yes, delete' %}">
            <a class="btn btn-info" href={% url 'users:user' user.pk %}>{% translate "No, I've changed my mind" %}"</a>
        </div>
    </form>
{% endblock welcome %}

