{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_messages %}
	{% endblock %}
{% endif %}

{% block welcome %}
	<h1>Tasks</h1>
		<table border="2" align="center">
			<tr>
				<th>Название задачи</th>
				<th>Статус задачи</th>
				<th>Инициатор задачи</th>
				<th>Исполнитель задачи</th>
				<th>Метки</th>
			</tr>
			{% for task in object_list %}
				<tr>
					<td><a href={% url 'tasks:task' task.id %}>{{ task.name }}</a></td>
					<td><a class="badge badge-danger badge-pill p-2" href={% url 'tasks:task' task.id %}>{{ task.task_status }}</a></td>
					<td><a href={% url 'tasks:task' task.id %}>{{ task.creator }}</a></td>
					<td><a href={% url 'tasks:task' task.id %}>{{ task.assigned_to }}</a></td>
					<td>
					{% for tag in task.label.all %}
						<a class="badge badge-info p-2" href={% url 'tasks:task' task.id %}>"{{ tag }}"</a>
					{% endfor %}
					</td>
			{% endfor %}
		</table>

	<a class="btn btn-primary" href={% url 'tasks:create_task' %}>{% translate "Create task" %}</a>
{% endblock %}