{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_messages %}
	{% endblock %}
{% endif %}

{% block welcome %}
<h1>FILTER</h1>

	<form method="get" class="form">
		{% csrf_token %}
		{% bootstrap_form filter.form %}
		{% if user.is_authenticated %}

		<div class="form-check">
			<label class="form-check-label" for="id_self_tasks">Self tasks</label>
			<input type="checkbox" name="self_tasks" id="id_self_tasks">
		</div>
		{% endif %}
		{% bootstrap_button "Показать" button_class="btn-success" %}

		<a href="{% url 'tasks:tasks_list' %}" class="btn btn-success">
			Clear filters
		</a>
	</form>

		<h1>Tasks</h1>
		<table border="2" align="center" class="row h-auto mb-4" cellpadding="7">
			<tr>
				<th>{% translate "Name" %}</th>
				<th>{% translate "Status" %}</th>
				<th>{% translate "Creator" %}</th>
				<th>{% translate "Executor" %}</th>
				<th>{% translate "Labels" %}</th>
			</tr>
			{% for task in filter.qs %}
				<tr>
					<td><a href={% url 'tasks:task' task.id %}>{{ task.name }}</a></td>
					<td><a class="badge badge-danger badge-pill p-2" href={% url 'tasks:task' task.id %}>{{ task.status }}</a></td>
					<td><a href={% url 'tasks:task' task.id %}>{{ task.creator }}</a></td>
					<td><a href={% url 'tasks:task' task.id %}>{{ task.executor.first_name }} {{ task.executor.last_name }}</a></td>
					<td>
					{% for tag in task.labels.all %}
						<a class="badge badge-info p-2" href={% url 'tasks:task' task.id %}>"{{ tag }}"</a>
					{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>
	<br>
	<a class="btn btn-primary" href={% url 'tasks:create_task' %}>{% translate "Create new task" %}</a>
	</p>
{% endblock %}