{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_javascript jquery=True %}
        {% bootstrap_messages %}
	{% endblock message %}
{% endif %}

{% block welcome %}
<body class="text-center">
	<table border="2" align="center">
		<tr>
			<th>Название задачи</th>
			<th>Статус задачи</th>
			<th>Инициатор задачи</th>
			<th>Исполнитель задачи</th>
		</tr>
		<tr>
			<td><p class="lead"> {{ object.name }}</p></td>
			<td><p class="lead"> {{ object.task_status }}</p></td>
			<td><p class="lead"> {{ object.creator }}</p></td>
			<td><p class="lead"> {{ object.assigned_to }}</p></td>
		</tr>
	</table>
	<a class="btn btn-primary" href={% url 'tasks:update_task' object.id %}>{% translate "Update task" %}</a>
	<a class="btn btn-danger" href={% url 'tasks:delete_task' object.id %}>{% translate "Delete task" %}</a>

</body>
{% endblock welcome %}