{% load static %}
{% load bootstrap4 %}
{% load i18n %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}INDEX page{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css'%}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
	    <a class="nav-link active" href={% url 'home' %}>{% translate "Home" %}</a>
	    <a class="nav-link" href={% url 'users:user_list' %}>{% translate "Users" %}</a>
              {% block login_link %}
	    <a class="nav-link" href={% url 'users:login' %}>{% translate "Login" %}</a>
              {% endblock login_link %}
	    <a class="nav-link" href={% url 'users:create_user' %}>{% translate "Create new user" %}</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

      {% block message %}
          {% bootstrap_messages %}
      {% endblock message %}

          {% block welcome %}
	      <h1 class="cover-heading">{% translate "Welcome to my FINAL hexlet project" %}.</h1>
	      <p class="lead">
	{% translate "Gonna make django app and deploy it in heroku PaaS" %}
	</p>
          {% endblock welcome %}
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
		<p>{% translate "Using cover for hexlet task template for" noop %} <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
  </body>
</html>
