{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_messages %}
	{% endblock %}
{% endif %}

{% block welcome %}
	<h1>Labels</h1>
		<table border="3" align="center" class="h-auto mb-4" cellpadding="7">
			<tr>
				<th>Name</th>
				<th>Linked tasks</th>
				<th>Config</th>
			</tr>
			{% for label in object_list %}
				<tr>
					<td><div class="nav-link">{{ label.name }}</div></td>
					<td>
						{% for task in label.task_set.all %}
							<a href={% url 'tasks:task' task.pk %}>"{{ task }}"</a>
						{% endfor %}
					</td>
					<td>
						<a class="btn btn-success" href={% url 'update_label' label.id %}>Change</a>
						<a class="btn btn-danger" href={% url 'delete_label' label.id %}>Delete</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	<br>
	<a class="btn btn-primary" href={% url 'create_label' %}>{% translate "Create new label" %}</a>
{% endblock %}