{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% if bootstrap_messages %}
	{% block message %}
		{% bootstrap_javascript jquery=True %}
        {% bootstrap_messages %}
	{% endblock message %}
{% endif %}

{% block welcome %}
<body class="text-center">
	<table border="2" align="center">
		<tr>
			<th>Название статуса</th>
		</tr>
		<tr>
			<td><p class="lead"> {{ object.name }}</p></td>
		</tr>
	</table>
	<a class="btn btn-primary" href={% url 'update_status' object.id %}>{% translate "Change" %}</a>
	<a class="btn btn-danger" href={% url 'delete_status' object.id %}>{% translate "Delete" %}</a>

</body>
{% endblock welcome %}