{% extends 'index.html' %}
{% load i18n %}

{% block welcome %}
    <h1 class="mb-4">{% translate "Status deletion" %}</h1>

    <form method="post" action="{% url 'delete_status' object.pk %}">
        {% csrf_token %}
        <p>{% translate "Are you sure you want to delete" %} {{ object.name }}?</p>
        <div class="form-group">
            <input class="btn btn-danger" type="submit" value="{% translate 'Yes, delete' %}">
            <a class="btn btn-info" href={% url 'statuses_list' %}>{% translate 'No, I change my mind' %}"</a>
        </div>
    </form>
{% endblock welcome %}