# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          pip install flake8
          pip install pytest
          pip install pytest-cov
          make install
      - name: Lint with flake8
        run: |
          make lint
#       - name: Test with pytest
#         run: |
#           make test
          
#       - name: Test & publish code coverage
#         uses: paambaati/codeclimate-action@v2.7.5
#         env:
#           CC_TEST_REPORTER_ID: cc29e3ff4e51d77a2bd2af2291dc351214a088497b4e71d379b5316908f4198e
#         with:
#           coverageCommand: make test
#           debug: true

      - name: Notify deploy to Rollbar
        uses: rollbar/github-deploy-action@1.1.0
        id: rollbar_deploy
        with:
          environment: 'production'
          version: ${{ github.sha }}
        env:
          ROLLBAR_ACCESS_TOKEN: ${{ secrets.ROLLBAR_ACCESS_TOKEN }}
          ROLLBAR_USERNAME: ${{ github.actor }}
